# envs
.env

# utils
.tests
.saves
.beta things

# paths created MeowTool
/Logs/
/Proxy/
/Roblox/
/Settings/
/Versions/

# caches
__pycache__/
*.pyc
.pytest_cache

# trash
.vscode/
*.png
*.log
notepad.txt