tomlkit==0.13.3
requests==2.32.4
PySocks==1.7.1
aiohttp==3.12.14
aiohttp_socks==0.10.1
aiofiles==24.1.0
aiogram==3.21.0
discord-webhook==1.4.1
fake-useragent==2.2.0
emoji==2.14.1
columnar==1.4.1
colorama==0.4.6
